@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "fontheader";
    src: url(../fonts/PassionOne-Bold.ttf);
}

@font-face {
    font-family:"fontpoema";
    src: url(../fonts/Sriracha-Regular.ttf);
}

:root{
    --font01: "fontheader";
    --font02: "fontpoema";
    --font03: "Verdana", sans-serif;
}

html, body{
    background-color: darkgrey;
    height: 100%;
    font-family: var(--font03);
}

header{
    background-color: black;
}

header>h1{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: var(--font01);
    font-size: 9vw;
    font-variant: small-caps;
}

header>p{
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-family: var(--font03);
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font02);
    font-size: 3.5vw;
}

section.normal{
    background-color: white;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    text-shadow: 0px 0px 6px black;
}

section > p{
    padding-bottom: 3em;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.24);
    display: inline-block;
    padding: 5px;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.404);
}

section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.459);
}

footer{
    background-color: black;
}

footer p{
    color: white;
    padding: 10px;
    text-align: center;
    font-size:0.9em;
}